<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.carp.framework.dag.repository.mapper.DagStepTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.carp.framework.dag.repository.entity.DagStepTask">
        <result column="id" property="id" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="editor" property="editor" />
        <result column="update_time" property="updateTime" />
        <result column="namespace" property="namespace" />
        <result column="dag_instance_id" property="dagInstanceId" />
        <result column="dag_step_id" property="dagStepId" />
        <result column="uuid" property="uuid" />
        <result column="name" property="name" />
        <result column="implementing_class" property="implementingClass" />
        <result column="stage_start" property="stageStart" />
        <result column="stage_end" property="stageEnd" />
        <result column="loop_start" property="loopStart" />
        <result column="loop_end" property="loopEnd" />
        <result column="status" property="status" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="task_exception_details" property="taskExceptionDetails" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        creator,
        create_time,
        editor,
        update_time,
        namespace, dag_instance_id, dag_step_id, uuid, `name`, implementing_class, stage_start, stage_end, loop_start, loop_end, `status`, start_time, end_time, task_exception_details
    </sql>

</mapper>
